* {
    margin: 0;
    padding: 0;
    /* border: dashed hotpink; */
    border: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
}

#content {
    text-align: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
    /* border: dashed blue; */
}

.square {
    flex: 1;
    border: solid black;
}

#btnGrid {
    color: white;
    background-color: purple;
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
}